# Copyright 2022 NXP
# SPDX-License-Identifier: Apache-2.0

menuconfig WIFI_NXP
	bool "NXP Wi-Fi driver support"
#	select SDHC
#	select SD_STACK
#	select SDIO_STACK
	select NET_L2_ETHERNET

if WIFI_NXP

config WIFI_ZEPHYR
    bool "Wi-Fi driver using ZEPHYR OS"
    default y
    help
      For Zephyr OS this needs to be always enabled.

choice
	prompt "Wi-Fi Chipset"
	default SD8987

config SD8987
       bool "8987-based Chipset"
       select SDHC
       select SD_STACK
       select SDIO_STACK
       help
	 Select this option if you have a NXP 8987-based
         Wireless chip. This option will enable support
         for NXP 8987-based wireless chip with
         RT series boards.

config SD8978
	bool "8978-based Chipset"
	select SDHC
	select SD_STACK
	select SDIO_STACK
	help
	  Select this option if you have a NXP 8978-based
	  Wireless chip. This option will enable support
	  for NXP 8978-based wireless chip with 
          RT series boards.

config RW610
	bool "RW610-based Chipset"
	help
	  Select this option if you have a NXP RW610-based
	  Wireless chip. This option will enable support
	  for NXP RW610-based series boards.

config IW61x
	bool "IW61x-based Chipset"
	select SDHC
	select SD_STACK
	select SDIO_STACK
	help
	  Select this option if you have a NXP IW61x-based
	  Wireless chip. This option will enable support
	  for NXP IW61x-based wireless chip with 
          RT series boards.

config SD8801
       bool "8801-based Chipset"
       select SDHC
       select SD_STACK
       select SDIO_STACK
       help
	 Select this option if you have a NXP 8801-based
         Wireless chip. This option will enable support
         for NXP 8801-based wireless chip with
         RT series boards.
endchoice

# Increase default heap size, driver needs memory allocation
config WIFI_NET_HEAP_SIZE
	int "Net Heap Size"
	default 131072

config WIFI_INIT_STACK_SIZE
	int "Init Stack Size"
	default 4096

#config WIFI_NXP_NET_HEAP_SIZE
#	int "Heap size"
#	default 184320

#config WIFI_NXP_INIT_STACK_SIZE
#	int "Init stack size"
#	default 4096

config MAX_AP_ENTRIES
       int "Maximum scan entries"
       range 1 30
       default 10
       help
	This is the maximum number of entries in the
	list of APs stored by wifi driver. Each entry takes
	about 400 bytes of RAM. The value should
	be decided based on number of AP's expected
	to be present in the end user environment.
	Note that the wifi driver automatically keeps
	only the highest signal strength APs in the list.

config WLAN_KNOWN_NETWORKS
       int "Maximum Network Profiles"
       range 1 10
       default 5
       help
		WLC manager keeps a list of known networks.
		 These include the ones added using the wlan-add
		 command and one loaded from the psm. This
		 configuration defines the size of that list. Note
		 that this is not the size of the scan entries.

config SDIO_MULTI_PORT_RX_AGGR
       bool "SDIO Multiport Rx Aggregation"
       def_bool y
       help
	 This option enables SDIO Multiport Rx Aggregation support in the Wi-Fi driver.

if RW610

config IMU
    bool "NXP IMU driver support"
    default n
    help
      For driver and firmware communicating through IMU interface.

config FW_LOADER
    bool "NXP firmware loader service support"
    default n
    help
      For driver downloading firmware using loader service.

# Increase default heap size, driver needs memory allocation
config WIFI_NET_HEAP_SIZE
	int
	default 16384

config WIFI_INIT_STACK_SIZE
	int
	default 4096


endif # WIFI_NXP
